header{
	display:flex;
	flex-direction: row;
	align-content:center;
	justify-content:space-between;
}
body{
	background-color:#f7f7f7;
	display:flex;
	flex-direction: row
}
li{
	list-style:none;
	margin:10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	font-size: 20px;
	padding:10px;	
}
h1{
	margin:10px;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
}
h2{
	font-family: 'Montserrat', sans-serif;
	margin-left: 100px;
}
p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	padding:10px;
}
a{
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
}
.headerLink:hover{
	color: #cc0c0c;
}

#process{
	display:flex;
	flex-direction:column;
	margin-top: 25px;
}

.process_part{
	margin: 10px;
	padding:10px;
}

.stage{
	font-size: 50px;
}

hr{
	border: .5px black dashed;
}

.project_head{
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
}
.place{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start; 
	height:auto;
	width:auto;
}

.myImg{
	width:150px;
	height:150px;
	object-fit:cover;
	margin: 5px;
	opacity: 50%;
}

#statement{
	display:block;
	flex-direction:column;
	outline: 2px solid #353535;
	outline-offset: 5px;
	border: 1px dashed black;
	background-color: white;
	width: 500px;
	height: 700px;
	margin:5px;
	position:sticky;
	top:70px;
}
.statement_dec{
	font-size: 24px;
}
#statement_head{
	font-size: 60px;
}

#home{
	position:sticky;
	top:20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
}

#img01{
	margin-top: 25px;
	height: 90%;
}
.myImg:hover{
	border: 1px solid #cc0c0c;
	margin: 4px;
	opacity:100%;
}
