/*Main Elements-----------------------------------------*/
body{
	background-color:#f7f7f7;
	display:flex;
	flex-direction: row;
}
header{
	display:flex;
	flex-direction: row;
	align-content:center;
	justify-content:space-between;
  background: #171717;
  margin: -10px;
}
li{
	list-style:none;
	margin:10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	font-size: 20px;
	padding:10px;	
}
h1{
	font-family: 'Poppins', sans-serif;
}
h2{
	font-family: 'Poppins', sans-serif;
  margin:10px;
}
p{
	font-family: 'Sanchez', serif;
	font-size: 24px;
	padding:20px;
  line-height: 1.6;
  color: #1f1f1f;
}
a{
	font-family: 'Sanchez', serif;
	font-size: 24px;
}
hr{
	border: .5px black dashed;
}
nav{
  height:50px;
  width:100%;
  background-color:#3b3737;
  position:fixed;
  margin:-10px;
  justify-content:space-evenly;
  align-items:center;
  display:flex;
}
/*Classes----------------------------------------------*/
.link_nav{
  position:sticky;
  color:#968080;
  top:10px;
  margin:10px;
  padding:10px;
  z-index: 1;
}
.link_nav:hover{
  animation-duration:1s;
  animation-name:nav_hover;
}
.stage{
	font-size: 50px;
}
.project_head{
	padding: 0px 45px 45px 45px;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
}
.place{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start; 
	height:auto;
	width:auto;
}
.myImg{
	width:150px;
	height:150px;
	object-fit:cover;
	margin: 5px;
	opacity: 50%;
}
.myImg:hover{
	border: 1px solid #cc0c0c;
	margin: 4px;
	opacity:100%;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
}
/*ID's--------------------------------------------------*/
#img01{
	margin-top: 25px;
	height: 90%;
}
/*statement---------------------------------------------*/
#statement{
	display:block;
	flex-direction:column;
	outline: 2px solid #f7f7f7;
	outline-offset: 5px;
	border: 1px dashed #f7f7f7;
	background-color: #3b3737;
	width: 500px;
	height: 700px;
	position:sticky;
	top:75px;
}
.statement_dec{
	font-size: 24px;
  margin:10px;
  padding:5px;
  color:#b3aaaa;
}
#statement_head{
	font-size: 60px;
  margin:10px;
  padding:5px;
  color:#f7f7f7;
}
.statement_txt{
  margin:5px;
  font-size: 21px;
  padding:10px;
  color:#968080;
}
/*process-----------------------------------------------*/
#process{
	display:flex;
	flex-direction:column;
	margin-top: 25px;
}
.process_part{
	margin: 10px;
	padding:10px;
}
/*Animation---------------------------------------------*/
@keyframes nav_hover{
  0%{background-color:#3b3737;
    color:#968080;
  }
  100%{background: white;
    color: #3b3737;
    }
}
