a{
	font-family: 'Poppins', sans-serif;
  font-weight:300;
	color: #968080;
	font-size: 24px;
	color:#968080;
  text-decoration:none;
  padding:10px;
}
a:hover{
  color:#ffffff;
  background-color:#25cfa4;
}

body{
	background-color:white;
	display:flex;
	flex-direction: column;
}
h1{
	font-family: 'Poppins', sans-serif;
  font-weight:900;
	font-size: 60px;
  color:#25cfa4;
  margin:10px;
  padding:0;
}
h2{
	margin:10px;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
  font-weight:500;
	font-size: 40px;
  color:#25cfa4;
}
header{
	display:flex;
	flex-direction: row;
	align-content:center;
	justify-content:space-between;
  margin: -10px;
}
hr{
	border: 1px #968080 dashed;
}
.imageGallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start; 
}
.myImg{
  object-fit:cover;
	width:1080px;
  margin:10px -10px;
}
p{
	font-family: 'Poppins', sans-serif;
  font-weight:300;
  color: #968080;
  font-size: 22px;
  padding:0;
  margin:0px;
  padding:0 15px;
}
.pageNav{
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.pageNav a{
	margin:20px;
}
.process_part{
	display:flex;
	flex-direction:row;
  align-items:center;
  justify-content:space-between;
  margin:10px 0px;
}

.process_text{
	width:640px;
  padding:20px;
	margin:20px auto;
}
.stage{
	font-size: 50px;
  font-weight:400px;
	color:#25cfa4;
}
.statement{
	display:flex;
	flex-direction:row;
  align-items:center;
  justify-content:space-evenly;
  margin:20px;
}
.statement_dec{
	font-size:35px;
	padding:5px;
  text-align:center;
}
.statement_txt{
  font-size: 24px;
  line-height:35px;
  color:#968080;
  margin:5px;
}
nav{
  color:#968080;
  margin:10px auto;
  padding:5px;
  position:sticky;
  top:0;
  background-color:white;
  width:100%;
  text-align:center;
}
@keyframes nav_hover{
  0%{
    color:#968080;
  }
  100%{
    color: #3b3737;
    }
}
