body{
	background-color:white;
}
header{
	display:flex;
	flex-direction: row;
	align-content:center;
	justify-content:space-between;
}
ul{
	display:flex;
	flex-direction:row;
}
li{
	list-style:none;
	margin:10px;
	font-family: 'Poppins', sans-serif;
	color: black;
	font-size: 20px;
}
h1{
	margin:10px;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight:900;
	font-size: 40px;
	color:#25cfa4;
}
h2{
	font-size: 35px;
	color:#25cfa4;
	font-family: 'Poppins', sans-serif;
	font-weight:500;
	margin:0px;
	padding:0 10px;
}
h2:hover{
  color:white;
}
p{
	font-family: 'Poppins', sans-serif;
	font-weight:300;
	color: #968080;
	font-size: 20px;
	padding:0;
	margin:0px;
	padding:0 15px;
	line-height:5px;
}
a{
	font-family: 'Poppins', sans-serif;
  	font-weight:300;
	color: #25cfa4;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
}
a:hover{
  color:#ffffff;
  background-color:#25cfa4;
}

a h2{
  margin:0px;
  padding:0 10px;
}
.homeBody{
	margin:0 auto;
	width:1080px;
	display:flex;
	flex-direction:column;
}

.projectWrapper{
	margin: 0 auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.project_pic{
  object-fit:cover;
  height:150px;
  width:300px;
}

.project_txt{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:flex-start;
}

.project{
  display:flex;
  flex-direction:row;
  margin:30px;
}
.main:hover{
	color: #cc0c0c;
}