body{
	background-color:#f7f7f7;
}
.mainHome{
	display:flex;
	flex-direction: row;
	justify-items:center;
	align-content:space-between;
}

.homeBody{
	display:flex;
	flex-direction:column;
}

ul{
	display:flex;
	flex-direction:row;
}

.project{
	width: 500px;
	height:500px;
	padding:10px;
	margin:30px;
	width:500px;
	height:250px;
	padding:10px;
	outline: 2px solid #353535;
	outline-offset: 5px;
	border: 1px dashed black;
	margin:10px;
}

.main:hover{
	color: #cc0c0c;
}

p{
	font-color:#70a7ff;
}
