body{
	background-color:#d9d7d7;
}
header{
	display:flex;
	flex-direction: row;
	align-content:center;
	justify-content:space-between;
}
ul{
	display:flex;
	flex-direction:row;
}
li{
	list-style:none;
	margin:10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	font-size: 20px;
}
h1{
	margin:10px;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
	font-size: 80px;
  	color:#f7f7f7;
  	text-shadow:0 1px 5px #968080;
}
h2{
	font-size: 40px;
	color:#cccaca;
	text-shadow:-1px -1px 1px #705959;
	font-family: 'Poppins', sans-serif;
}
p{
	font-family: 'Sanchez', sans-serif;
	color: black;
	font-size: 20px;
	padding:10px;
}
a{
	font-family: 'Sanchez', sans-serif;
	color: #968080;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
}
.homeBody{
	margin:0 auto;
	width:1080px;
	display:flex;
	flex-direction:column;
}

.projectWrapper{
	margin: 0 auto;
	display:flex;
	flex-direction:row;
	justify-content:center;
}


.project{
	background-color: #968080;
	width: 300px;
	height:300px;
	padding:10px;
	margin:20px;
	outline: 2px solid #705959;
	outline-offset: 5px;
	border: 2px dashed #705959;

	text-align:center;
}
.main:hover{
	color: #cc0c0c;
}

