.mainHome{
	display:flex;
	flex-direction: row;
	justify-items:center;
	align-content:space-between;
}

.homeBody{
	display:flex;
	flex-direction:column;
}

ul{
	display:flex;
	flex-direction:row;
}

.project{
	width: 500px;
	height:500px;
	padding:10px;
	margin:30px;
}

.main:hover{
	color: #cc0c0c;
}
